
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    font-family: 'Poppins', sans-serif;

    background-color: blue;
}



#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#titulo{
    color: #FF4B91;
    font-size: 32px;
    font-family: 'Lilita One', sans-serif;
}


.tarjetas, .tarjetas-ataque{
    display: flex;
    gap: 10px;

}

.subtitulo{
    color: white;
    font-size: 20px;
}

.tarjeta-de-mokepon {
    width: 167px;
    height: 100px;
    background: #FF4B91;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid hotpink;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;

}

.tarjeta-de-mokepon img{
    width: 80px;
}


input {
    display: none;
}

input:checked + label{
    background-color:#FFCD4B ;
}

#boton-mascota{
    margin: 10px;
    width: 180px;
    height: 40px; 
    border-radius: 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    background-color: #FF7676;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;

}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color: #FF4B91;
    padding: 10px;
    box-sizing: border-box;
    margin: 4px;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#mensajes {
    width: 150px;
    background: #FF7676;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

#boton-reiniciar{
    border: none;
    color: #FF4B91;

}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
    color: white;
}

@media(max-width:560px){
    .tarjetas{
        flex-direction: column;
    }
    .tarjetas-ataque{
        flex-direction: column;
    }
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 40px; 
    border-radius: 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    background-color: #FF7676;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;


}

@media(max-width:300px){

    #ver-mapa div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}